@import "about.css";
@import "../modules/catalog.css";
@import "../modules/button.css";
.pager{
  margin: 1em 0;
  list-style-type: none;
}
  .pager li{
    display: inline-block;
    text-align: center;
  }
  .pager .previous{
    float: left;
  }
  .pager .next{
    float: right;
  }
  a.btn-pre,
  a.btn-next{
    width: 10em;
    color: #404040;
  }

  /* ÆÁÄ»Ð¡ÓÚ400pxÊ± */
  @media only screen and (max-width: 400px){
    a.btn-pre,
    a.btn-next{
      width: 10em;
      padding: 0;
    }
  }

