/**
* 这是工具样式集，包括了：
*
* 1）清除浮动
*
* 2）头部导航栏固定在顶部，主要内容居左显示，侧边栏居右显示，页面缩小时，侧边栏隐藏
*
*/



/*-----------------------------------------------*\
  清除浮动
\*-----------------------------------------------*/
.clearfix:after{
  content:"";
  display: table;
  clear: both;
}




/*-----------------------------------------------*\
  去除<a>标签的下划线
\*-----------------------------------------------*/
a{
  color: #404040;
  text-decoration: none;
}
a:hover{
  color: #337ab7;
}




/*-----------------------------------------------*\
  hr
\*-----------------------------------------------*/
hr{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}